snippet template "template" b
#!/bin/bash

$0
endsnippet

snippet cds "cd to script" b
cd "$(dirname "\$0")" || exit
$0
endsnippet

snippet func "function template" b
function $1() {
	$0
}
endsnippet
